<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
	android:icon="@mipmap/ic_launcher"
	android:roundIcon="@mipmap/ic_launcher_round"
        android:label="NerfeAI"
        android:theme="@style/Theme.NerfeAI"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
	    android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:screenOrientation="unspecified">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>
